<h1>Loan Application</h1>

<% form_for :loan_application, :url => loan_applications_path, :method => :post do |f| %>
  <ol>
    <li>
      <%= f.label :full_name %>
      <%= f.text_field :full_name %>
    </li>
    
    <li>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </li>
    
    <li>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </li>
    
    <li>
      <%= f.label :amount %>
      <%= f.text_field :amount %>
    </li>
  </ol>
  
  <p class="separator">
    <%= f.submit "Apply" %> |
    <%= link_to "Cancel", root_url %>
  </p>

<% end %>