<h1>Loan Application</h1>

<% form_for :loan_application, :url => loan_applications_path, :method => :post do |f| %>
  <div>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :phone %>
    <%= f.text_field :phone %>

    <%= f.label :amount %>
    <%= f.text_field :amount %>
  
    <%= f.submit "Apply" %> |
    <%= link_to "Cancel", root_url %>
  </div>
<% end %>